.container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  .wrapper {
    display: flex;
    flex: 1;
    height: 100%;
  }

  .chatArea {
    flex: 1;
    padding: 20px;
    background-color: #fafafa;
    overflow-y: auto;
  }

  .placeholder {
    color: #777;
    font-size: 1.2em;
    padding-top: 50px;
  }
}